#page{margin-top:50px;!important}
#content{margin-top:10px;}
.topmenu{margin-top:10px;}
.topmenu h1{font-size:120%;}
.topmenu ul{margin-bottom:0px;!important}
#footer{background:#ccc;}
.thumbnail h3{font-size:110%;line-height:100%;}
.content{margin-top:10px;}
.alert h3 {margin-top:0px;!important}
#rights #menu {margin: 70px 0 25px 0;!important}
